.plus {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 50%;
    margin-top: -13px;
    margin-left: 5px;
}

.plus-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}

.minus {
    position: absolute;
    left: 23px;
    height: 18px;
    width: 18px;
    top: 50%;
    margin-top: -13px;
    margin-left: 5px;
}

.minus-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}

.mr-email-label-container {
    width: 96px;
    display: inline-block;
}

.mr-email-line {
    margin-bottom: 15px;
}

.mr-email-line label {
    font-weight: bold;
}

.mr-email-line input {
    margin: 0 auto;
    display: inline-block;
}

#multiple-registration-btn-container {
    margin-bottom: 20px;
}
