.plus {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 50%;
    margin-top: -13px;
    margin-left: 5px;
}

.plus-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}

.minus {
    position: absolute;
    left: 23px;
    height: 18px;
    width: 18px;
    top: 50%;
    margin-top: -13px;
    margin-left: 5px;
}

.minus-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}

.mr-email-label-container {
    width: 86px;
    display: inline-block;
}

.mr-email-line {
    margin-bottom: 15px;
    margin-right: 64px;
}

.mr-email-line label {
    font-weight: bold;
}

.mr-email-line input {
    margin: 0 auto;
    display: inline-block;
}

#multiple-registration-btn-container {
    margin-bottom: 20px;
}

#paypal-button {
    margin-bottom: 5px;
}

#stripe-button {
    margin-bottom: 10px;
}

#enrolpage {
    position: relative;
}

#discount-container {
    display: inline-block;
    position:relative;
}

.discount-check {
    visibility: hidden;
    display: inline-block;
    vertical-align: inherit !important;
}

#discount-dimmer {
    display: none;
    background: #fff;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4000;
}

#dimmer {
    background: #fff;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 4000;
}

/**
 * Spin.js styles
 */
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

#spin-container {
    display: block;
    height: 200px;
    text-align: center;
}

#spinner {
    display: inline-block;
}
