.plus {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 50%;
    margin-top: -13px;
    margin-left: 5px;
}

.plus-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}

.minus {
    position: absolute;
    left: 23px;
    height: 18px;
    width: 18px;
    top: 50%;
    margin-top: -13px;
    margin-left: 5px;
}

.minus-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}

.mr-email-label-container {
    width: 86px;
    display: inline-block;
}

.mr-email-line {
    margin-bottom: 15px;
    margin-right: 64px;
}

.mr-email-line label {
    font-weight: bold;
}

.mr-email-line input {
    margin: 0 auto;
    display: inline-block;
}

#multiple-registration-btn-container {
    margin-bottom: 20px;
    margin-left: 27px;
}

#paypal-button {
    margin-bottom: 5px;
}

#stripe-button {
    margin-bottom: 10px;
}

/**
 * Spin.js styles
 */
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
